.card-img-top {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.card-body {
    min-height: 150px;
}

body {
    padding-top: 120px; 
  }

  body.homepage {
    padding-top: 90px; 
    background-image: url(background.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.card-text {
    text-decoration: none;
}

.product-details-container {
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.description-details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.purchase-button-details {
    padding-top: 20px;
}

.form-group {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-control {
    margin-top: 10px;
}